.hero-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("/src/assets/img/Banner/2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.content-wrapper {
  z-index: 2;
}

/* Box bên trái giữ nguyên vị trí */
.hero-box {
  background: rgba(78, 78, 78, 0.45);
  max-width: 100%;
  margin-top: 50vh;
  margin-left: 5vh;
  backdrop-filter: blur(8px);
  color: #222;
  border-radius: 5px;
}

.hero-title {
  color: #fff;
}

.hero-subtitle {
  color: #f1f1f1;
}

.hero-btn {
  transition: all 0.3s ease;
}

.hero-btn:hover {
  transform: scale(1.05);
}

/* Box bên phải */
.hero-stats-box {
  background: rgba(78, 78, 78, 0.45);
  border-radius: 15px;
  backdrop-filter: blur(8px);
  color: #fff;
}

.hero-stats-box h3 {
  font-size: 2rem;
  font-weight: bold;
}

.hero-stats-box p {
  font-size: 0.9rem;
  margin: 0;
  opacity: 0.9;
}
