.hero-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("/src/assets/img/Banner/2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}


.content-wrapper {
  z-index: 2;
}

.hero-box {
  max-width: 70%;
  margin-top: 50vh;
  margin-left: 10vh;
  margin-bottom: 5vh;
  color: #222;
  border-radius: 5px;
}

.hero-title {
  color: #fff;
}

.hero-subtitle {
  color: #f1f1f1;
}

.hero-btn {
  transition: all 0.3s ease;
}

.hero-btn:hover {
  transform: scale(1.05);
}
.stat-item {
  border-right: 3px solid rgb(255, 255, 255);
}

.stat-item:last-child {
  border-right: none;
}

.hero-stats-box {
  border-radius: 15px;
  margin-right: 5vh;
  margin-top: 75vh;
  color: #fff;
}

.hero-stats-box h3 {
  font-size: 2rem;
  font-weight: bold;
}

.hero-stats-box p {
  font-size: 0.9rem;
  margin: 0;
  opacity: 0.9;
}
